<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
        <property name="url" value="jdbc:oracle:thin:@//localhost:1521/XE" />
        <property name="driverClassName" value="oracle.jdbc.OracleDriver" />
        <property name="username" value="test" />
        <property name="password" value="12345" />
        <property name="removeAbandoned" value="true"/>
        <property name="initialSize" value="20" />
        <property name="maxActive" value="30" />
    </bean>

    <bean id="dbUnitDatabaseConfig" class="com.github.springtestdbunit.bean.DatabaseConfigBean">
        <property name="datatypeFactory">
            <bean class="org.dbunit.ext.oracle.Oracle10DataTypeFactory" />
        </property>
        <property name="caseSensitiveTableNames" value="false" />
    </bean>
    <bean id="dbUnitDatabaseConnection" class="com.github.springtestdbunit.bean.DatabaseDataSourceConnectionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="databaseConfig" ref="dbUnitDatabaseConfig"/>
        <property name="schema" value="TEST"/>
    </bean>

    <bean id="accountDAO" class="com.epam.newsmanagement.dao.impl.AccountDAOImpl" autowire="byName"></bean>
    <bean id="articleDAO" class="com.epam.newsmanagement.dao.impl.ArticleDAOImpl" autowire="byName"></bean>
    <bean id="authorDAO" class="com.epam.newsmanagement.dao.impl.AuthorDAOImpl" autowire="byName"></bean>
    <bean id="commentDAO" class="com.epam.newsmanagement.dao.impl.CommentDAOImpl" autowire="byName"></bean>
    <bean id="tagDAO" class="com.epam.newsmanagement.dao.impl.TagDAOImpl" autowire="byName"></bean>
    <bean id="articleTagDAO" class="com.epam.newsmanagement.dao.impl.ArticleTagDAOImpl" autowire="byName"></bean>

</beans>