label {
    position: absolute;
    z-index: -1;
}

input[type=text] {
    width: 50%;
    margin-bottom: 30px;
    margin-left: 100px;
}

.error p {
    color: red;
}

.update-form, .delete-form {
    display: inline-block;
}